@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background: #202020;
  --red: #F43735;
  --red-dark: hsl(var(--red), var(--red), calc(var(--red) * .9));
  --white: #f5f5f5;
  --gray: #858585;
  --gray-link-color: #999999;
  --black-text-color: #212121;
  --font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @media screen and (max-width:400px) {
    font-size: 13px;
  }
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.container {
  width: 90%;
  max-width: 1172px;
  margin: auto;
  display: flex;

  section {
    margin-top: 34px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1,
    p {
      font-family: var(--font-family);
      color: var(--black-text-color);
      font-weight: bold;
    }

    h1 {
      font-size: 2.625rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}