.heroCardLink {
  text-decoration: none;

  .imgContainer,
  .textContainer {
    transition: ease filter 0.25s;
  }

  &:hover {

    .imgContainer,
    .textContainer,
    .description-hero,
    .name-hero {
      filter: brightness(90%);
    }
  }
}

.card {
  position: relative;
  background-color: white;
  height: 376px;
  max-height: 376px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 30px;
  overflow: hidden;
  transition: transform 0.25s, box-shadow 0.25s;
  -webkit-backface-visibility: hidden;

  &:hover {
    transform: scale(1.009);
    box-shadow: 0px 24px 24px rgb(0 0 0 / 25%);
  }

  p,
  h1 {
    color: var(--black-text-color);
  }

  h1.name-hero {
    margin-top: 21.2px;
    font-size: 2rem !important;
    font-weight: 700 !important;
    line-height: 2.34rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  p.description-hero {
    margin-top: 14px;
    font-size: 1rem !important;
    line-height: 18.75px !important;
    font-weight: 400 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .imgContainer {
    max-height: 198.18px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .textContainer {
    padding: 0 33px 0 27px;
  }

  .heroCardFavoriteButton,
  .heroCardRemoveFavoriteButton {
    width: 54.02px;
    height: 54.02px;
    border: none;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    outline: none;
    right: 10px;
    top: 171.9px;
    transition: 0.25s ease filter;
    cursor: pointer;

    .tooltip {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      position: absolute;
      top: 1px;
      right: 117%;
      background: #00000091;
      color: white;
      display: inline-block;
      padding: 0.3rem;
      font-family: "Roboto";
      font-size: 0.7rem;
      border-radius: 4px;
    }

    &:hover {
      filter: brightness(90%);

      .tooltip {
        opacity: 1;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .heroCardRemoveFavoriteButton {
    background: var(--red);

    img {
      filter: brightness(100) contrast(1);
    }
  }
}