.navbar {
  height: 150px;
  max-width: 100vw;
  width: 100%;
  display: block;
  background: var(--dark-background);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    justify-content: space-between;
    color: white;

    div.left {
      display: flex;
      align-items: center;

      h1 {
        font-family: var(--font-family);
        font-size: 2.25rem;
      }

      img {
        margin-right: 16.45px;
        width: 59.55px;
      }
    }

    div.right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a.button {
        font-family: var(--font-family);
        background: var(--red);
        font-weight: 400;
        color: white;
        text-decoration: none;
        display: inline;
        font-size: 24px;
        display: flex;
        align-items: center;
        padding: 18.5px 13px 18.5px 14px;
        border-radius: 5px 20px;
        transition: -25s filter ease;

        img {
          width: 30px;
          margin-left: 14px;
        }

        &:hover {
          filter: brightness(90%);
        }

        @media (max-width: 700px) {
          span {
            display: none;
          }

          img {
            margin-left: 0;
          }
        }
      }
    }

    position: relative;

    .previousPageButton {
      background: transparent;
      border: none;
      color: #FFCDD2;
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 700;
      width: 292px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      right: 0;
      z-index: 9;
      top: calc(100% + 50px);
      cursor: pointer;
      transition: filter .25s;

      &:hover {
        filter: brightness(0.85);
      }

      @media (max-width:450px) {
        justify-content: flex-end;
        width: auto;

        span {
          display: none;
        }
      }
    }
  }
}